Here is a list of all the artists <br>
<%= link_to 'Most Popular', artists_most_popular_path %> <div class="right"><%= link_to 'Add Artist', new_artist_path %></div>
<div class="main-text">

  <% @artists.each do |artist| %>
  <h4 class="artist-title"><%= link_to artist.artist_name, artist_path(artist) %><br></h4>
  <% end %>



</div>
