These are all the neighborhoods where you can find murals. <br>

See the <%= link_to 'Top 3', neighborhoods_top_3_path %> 

<% @neighborhoods.each do |hood| %>
<h2 class="hood-name"><%=link_to hood.name, neighborhood_path(hood) %></h2><%= hood.murals.count %> murals
<% end %>
