These are all the murals in <%= @neighborhood.name %>

<ul>
  <% @neighborhood.murals.each do |mural| %>
 <li> <span class="artist-title"><%= link_to mural.artist.artist_name, artist_path(mural.artist) %></span> -
    <%= link_to mural.location_details, artist_mural_path(mural.artist, mural) %></li>
    <% end %>
</ul>
