/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.artist-title{
  font-family: 'Permanent Marker', cursive;

}

h4.artist-title{
  margin-bottom: 10px;
}
.artist-title a{
  color: black;
}
nav{
  padding-bottom: 15px;
}

.field_with_errors{
  clear: both;
}

a{
  text-decoration: none;
  color: #e016bb;
}

body{
  font-family: 'Waiting for the Sunrise', cursive;
  font-size: 1.2em;
}

nav{
  font-size: 1.3em;
  margin-right: 100px;
}

.nav-left{
  float: left;
}
.nav-right{
  float: right;
}

.clear-nav{
  clear: both;
}

.welcome-page{
  font-size: 1.1em;

}

img{
  margin: 10px;
}

.welcome-page p{
    font-family: 'Permanent Marker', cursive;
    clear: both;
    margin-bottom: 0;
}
.welcome-title{
  font-size: 2.5em;
  float: left;
}
.welcome{
    margin-left: 10px;
}

.welcome-nav{
  float: right;
  margin-top: 20px;
}
