<% if @murals.empty? %>
  You haven't added any murals yet! Check out the <%= link_to'artists', artists_path %> page to add one.

  <% else %>
  Here is are all the murals you have added!
<ul>
    <% @murals.each do |mural| %>
    <li><%= link_to mural.location_details, mural_path(mural) %> by <%= link_to mural.artist.artist_name, artist_path(mural.artist) %> located in <%=link_to mural.neighborhood.name, neighborhood_path(mural.neighborhood) %><br></li>
    <% end %>
  </ul>
<% end %>



<%# nearby_murals(@nearby) %>
