<div class="history">
  Graffiti and street art have been synonymous with New York City since the ’70s, as the movement grew alongside the beginnings of hip-hop. Now a permanent part of pop culture, the evolution of graffiti and street art has given way to sanctioned and celebrated murals across the globe.
</div>

<div class="history">
  <%= image_tag "harring01.jpg" %>
</div>
