<div class="welcome-page">
  <p>Welcome to the page where you can find all the murals in NYC.</p> Not a member? <%= link_to 'Sign-Up', new_user_path %> to get access to our site where you can add, edit and view the hottest murals in NYC!
</div>

<%= image_tag "kobra-fight.jpg" %>
